<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Choose the game:</h2>
        <div>
            <form action="/guess" method="get">
                <Label>Guess the number => </Label>
                <input type="submit" value="GTN">
            </form>
        </div>
        <div>
            <form action="/ticTacToe" method="get">
                <Label>Tic tac toe => </Label>
                <input type="submit" value="TTT">
            </form>
        </div>
    </div>
</body>
</html>