<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .button-container {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 10px;
        }
        .button-container input[type="submit"] {
            width: 100px;
            height: 100px;
            font-size: 24px;
        }
    </style>
</head>
<body>

<form action="">
<div class="button-container">
        <input name="key_1" type="submit" value="1">
        <input name="key_2" type="submit" value="2">
        <input name="key_3" type="submit" value="3">
        <input name="key_4" type="submit" value="4">
        <input name="key_5" type="submit" value="5">
        <input name="key_6" type="submit" value="6">
        <input name="key_7" type="submit" value="7">
        <input name="key_8" type="submit" value="8">
        <input name="key_9" type="submit" value="9">
</div>
</form>

</body>
</html>
