table{
    border-collapse: collapse ;
    border: 3px solid black;
    text-align: center;
}
tr td {border-left: 1px solid black;
    border-right: 1px solid black;} 
    
.info{
    border: 1px solid black;
    font-weight: bold;
    
   
}
.test{
    border-bottom: 3px solid black;
   
}
tbody{
    text-align: left;
}
.res{
    text-align: right;
}

.test:first-child{
    background-color: rgb(90, 170, 170);
}
.info:nth-child(n){
    background-color: rgb(120, 150, 190);
}
tr:nth-child(n){
    background-color:rgb(120, 150, 190);
}
tr:nth-child(2n){
    background-color: aliceblue;
}