@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To see the book list: <a asp-page="/BookList"> BookList</a>.</p>
</div>
